body {
  background-image: url(../images/world-map.jpg);
  background-repeat: no-repeat;
  opacity: 0.85;
}

.main {
  background-color: #ffffff;
  padding: 1% 10% 20% 10%;
}

header {
  padding: 50px ;
  background-color: #D1F3FC;
}

h1 {
  text-align: center;
  color: #464d59;
  font-family: 'Cinzel', serif;
  font-size: 48px;
}

h2 {
  text-align: center;
  color: #464d59;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

h3 {
  text-align: center;
  color: #1C5FD8;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 34px;
  font-weight: 600;
}

p {
  text-align: center;
  font-size: 24px;
  color: #464d59;
  font-family: 'Open Sans Condensed', sans-serif;
}

#timer-box {
  height: 100%;
  width: 300px;
  border: 2px solid #1C5FD8;
  color: #C83327;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: 'Cinzel', serif;
  font-size: 28px;
}

#play-button {
  text-align: center;
}

button {
  padding: 10px;
  color: #ffffff;
  background-color: #464d59;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.question-box {
  background-color: #ffffff
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.game-area {
  margin-top: 40px;
}

#question {
  text-align: center;
  font-size: 24px;
}

#guesses {
  text-align: center;
  font-size: 18px;
  margin-top: 25px;
}

.guess-box {
  background-color: #464d59;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
}

.correct-answer {
  color: #4F7F28;
}

.wrong-answer {
  color: #C83327;
}
